<table class="table table-hover mt-4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="table-body">
        <tr>
            <td></td>
            <td></td>
            <td></td>   
            <td></td>
            <td>
                <a id="edit-btn" class="btn btn-sm btn-primary" href="#" onclick="editModal()">Edit</a>
                <a class="btn btn-sm btn-danger" onclick="confirmRemoval()" href="#" >Delete</a>
            </td>
        </tr>
    </tbody>
</table>